body {
    background: rgb(90, 90, 90);
    margin: 0;
    font-family: "Montserrat";
    letter-spacing: 2;
}

#image {
    position: absolute;
    top: inherit;
    left: inherit;
    z-index: 0;
    display: block;
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: 0px 10px 41px 6px rgba(0, 0, 0, 0.41);
}

button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#overlay {
    z-index: 2;
    position: absolute;
    top: 80px;
    left: inherit;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    letter-spacing: 3;
}

.left {
    padding: 100px;
}

.right {
    padding: 50px;
    margin-top: 50px;
}

.sidenav {
    padding-top: 70px;
    height: 100%;
}

.btn {
    margin: 5px 0;
}

input {
    margin: 10px 0;
}